In [1]:
import pandas as pd

df = pd.read_csv('df_clean.csv')

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,StreamingTV,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
y = df['Churn']
X = df.drop(columns = ['Churn', 'customerID'])

num_cols = ['tenure', 'MonthlyCharges', 'TotalCharges']

In [7]:
num_cols = ['tenure', 'MonthlyCharges', 'TotalCharges']

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X[num_cols] = scaler.fit_transform(X[num_cols])

In [ ]:
# Usaremos Label Encoding para variables binarias y One-Hot Encoding para el resto de categ√≥ricas

def contar_valores(df):
    for columna in df.columns:
        if df[columna].dtype == 'object':
            cuantos = df[columna].nunique()
            print(f"{columna}: {cuantos} valores diferentes")

contar_valores(df)

customerID: 7043 valores diferentes